[submodule "DatingApp.API"]
	path = DatingApp.API
	url = https://github.com/echeon/DatingApp.API.git
[submodule "DatingApp.SPA"]
	path = DatingApp.SPA
	url = https://github.com/echeon/DatingApp.SPA.git
